ion-content{
    --background: #eae7dc;

}

.tlbrStyle{
    --background: #225144;
}

.regBtn{
    --background: #225144;
    margin: 10px;
}

.bckTxt, .bckBtnStyle{
    --color: #fff;
    font-size: 18px;
}