<ion-header>
  <ion-toolbar class="tlbrStyle">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" class="bckBtnStyle"></ion-back-button>
    </ion-buttons>
    <ion-title class="bckTxt">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.1145555637954!2d121.06644847586044!3d14.70611317448317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b097521d278b%3A0xac16f92cc9a52fa0!2sFairview%20Center%20Mall!5e0!3m2!1sen!2sph!4v1682430008208!5m2!1sen!2sph"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="gMaps"
  ></iframe>
  <ion-card>
    <ion-card-content>
      <h2 class="headingStyle">ADDRESS</h2>
      <p>Commonwealth Ave, Novaliches, Quezon City, 1106 Metro Manila</p>

      <h2 class="headingStyle">EMAIL</h2>
      <p>SunnySide.AnimalCenter@gmail.com</p>

      <h2 class="headingStyle">PHONE</h2>
      <p>1234-567-8901</p>
    </ion-card-content>
  </ion-card>
</ion-content>
